@model City_events_and_entertainment.Models.Facility
@{
    ViewData["Title"] = "Add Facility";
}

<h2>Add Facility</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Create</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a>
</form>
